{% extends "base.html" %}
<!--inherits from base.html-->
{% load static %} {% block page_title %} {{ post.title }} {% endblock %}
<!--injects title to the page-->

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock %}
<!-- injects this css to the starting page with base template -->

{% block content %}

<section id="summary">
  <h2>{{ post.Title }}</h2>
  <article>
    <img
      src="{% static 'blog/images/'|add:post.ImageName %}"
      alt="{{ post.Title }}"
    />
    <address>By <a href="mailto:karan@gmail.com">{{ post.author }}</a></address>
    <div>Last Updated on <time>{{ post.Date|date:"d M Y" }}</time></div>
  </article>
</section>

<main>{{ post.content| linebreaks }}</main>

{% endblock %}
